---
layout: archive
title: "Teaching & Supervision"
permalink: /teaching/
---

{% assign courses = site.teaching | where: 'type', 'Teaching' | sort: 'date' | reverse %}
{% if courses.size > 0 %}
<section class="cv-section">
  <h2>Teaching</h2>
  {% for post in courses %}{% include entry-teaching.html %}{% endfor %}
</section>
{% endif %}

{% assign theses = site.teaching | where: 'type', 'Academic thesis advisor' | sort: 'date' | reverse %}
{% if theses.size > 0 %}
<section class="cv-section">
  <h2>Thesis Supervision</h2>
  {% for post in theses %}{% include entry-teaching.html %}{% endfor %}
</section>
{% endif %}

{% assign practices = site.teaching | where: 'type', 'Academic practices advisor' | sort: 'date' | reverse %}
{% if practices.size > 0 %}
<section class="cv-section">
  <h2>Academic Practices</h2>
  {% for post in practices %}{% include entry-teaching.html %}{% endfor %}
</section>
{% endif %}
