<footer class="site-footer">
  <span>© {{ site.time | date: '%Y' }} {{ site.author.name | default: site.title }}</span>
  <div class="footer-links">
    {%- if site.author.email %}<a href="mailto:{{ site.author.email }}">{% include icon.html name="email" %}email</a>{% endif -%}
    {%- if site.author.github %}<a href="https://github.com/{{ site.author.github }}">{% include icon.html name="github" %}github</a>{% endif -%}
    {%- if site.author.googlescholar %}<a href="{{ site.author.googlescholar }}">{% include icon.html name="scholar" %}scholar</a>{% endif -%}
    {%- if site.author.linkedin %}<a href="{{ site.author.linkedin }}">{% include icon.html name="linkedin" %}linkedin</a>{% endif -%}
    {%- if site.author.orcid %}<a href="{{ site.author.orcid }}">{% include icon.html name="orcid" %}orcid</a>{% endif -%}
  </div>
</footer>
